@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Montserrat&family=Sacramento&display=swap');



body {width: 100%;
    padding: 0px;
      background-color: black;}



.logo { background-color: white;
        width: 100%;
        height: 548px;
        padding-top: 90px;
        float: left;
        padding-left: 80px;
        }

        .header {
            width: 100%;}
        
        .links{width: 100%;
            height: 50px;
            }

.links a {text-decoration: none;
    color: #4AB19A;
    font-size: 22px;
    font-family: 'merriweather', sans-serif;
    font-weight: 900;
    float: right;
    padding: 15px;
    margin-right: 60px;
    }

.text {color: #4AB19A;   
       font-family: 'merriweather', sans-serif;
       margin-left: 920px;
       margin-top: -400px;
       width: 200px;
       text-align: center;}

.text h1 {font-size: 50px;}
.text p  {font-size: 20px;}

.main {padding-top: 800px;
       height: 620px;
       width: 100%;}

.main h1 {color: #4AB19A;
          font-size: 35px;
          font-weight: 900;
          font-family: 'merriweather', sans-serif;
          width: 400px;
          text-align: center;
          margin-left: 600px;
          margin-top: -30px;}

.main p {color: white;
         font-size: 20px;
         font-family: 'merriweather', sans-serif;
          width: 700px;
         text-align: center;
         margin-left: 500px;
         margin-top: -480px;
         }

.speaker img {height: 600px;
          width: 600px;
          margin-top: -120px;
          margin-left: 60px;
         }

.career {background-color: white;
         height: 800px;
         width: 105%;}

.career h1 {color: #4AB19A;
    font-size: 35px;
    font-weight: 900;
    font-family: 'merriweather', sans-serif;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;}

.career p {color: #4AB19A;
    font-size: 18px;
    font-family: 'merriweather', sans-serif;
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;}


    .others {background-color: #4AB19A;
        width: 105%;
        height: 700px;}

.skills {color: white;
   font-size: 20px;
   font-family: 'merriweather', sans-serif;
   width: 400px;
   text-align: center;
   padding-top: 100px;
   margin-left: 7%;}

.skillsimg {margin-left: 100%;
            
           margin-top: -300px;}

.skillstwo {color: white;
   font-size: 20px;
   font-family: 'merriweather', sans-serif;
   width: 400px;
   text-align: center;
   margin-left: 500px;
   margin-top: -300px;}

   footer {text-align: center;
           color: white;
           font-family: 'merriweather', sans-serif;}

   .button  [type=submit] {
       background-color: orange;
       color: black;
       padding: 20px 60px;
       margin: 8px 0px;
       border: none;
       border-radius: 4px;
       
       cursor: pointer;
       font-weight: bold;} 

   .photos {width: 1600px;}
   .photos img {margin-top: 20px;
       width: 480px; height: 330px;}



       @media only screen and (max-width:700px){

        

        .header {width: 100%;}

        .links a {float: left;
                  margin-left: auto;
                  margin-right: auto;
                  padding: 10px;
                  padding-left: 125px;
                  width: 60%;}

        .logo {width: 85%;}

        .logo img {width: 100%;
                   margin-left: -60px;}
        
        .text {width: 50%;
            margin: inherit;}

        .main {width: 105%;
               height: 100%;}

        .main h1 {margin: inherit;
                  width: 80%;
                  margin-left: 35px;}

        .main img {width: 100%;
                   height: 100%;
                   margin: inherit;
                   margin-left:25px;}

        .main p {margin: inherit;
                 width: 90%;}
        
       .career {width: 100%;
                 height: 1300px;}

        .career p {width:80%;}

        .others {width: 100%;
                 height: 150%;}

        .skills {margin: inherit;}

        .skillsimg {margin: inherit;}

        .skillsimg img {width: 70%;}

        .skillstwo {margin: inherit;}

        footer {height: 400px;}

}
